<nav class="navbar navbar-expand-lg navbar-dark background-nav">
        <div class="container-fluid background-nav">
          <a class="navbar-brand head-title" href="#">The Tech Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link active" href="#dashboard">Dashboard</a>
              <a class="nav-link active" href="#log-in">Log In</a>
              <a class="nav-link active" href="#" id="logout">Log Out</a>
            </div>
          </div>
        </div>
      </nav>
      <script src="./js/login.js"></script>