{{#each blogs as |blog|}}
<div class="card border-dark mb-3 container d-flex justify-content-center" id='dashboard'style="max-width: 60rem;">
        <div class="card-body text-dark">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{content}}</p>
        </div>
      </div>

  <script src="./js/script.js"></script>